<% provide(:title, "Neuroscience Colloquium") %>
<h1>Neuroscience Colloquium</h1>
<p>Invited neuroscientists from around the world speak at the weekly seminar in Psychology PDBA211 (Wednesdays at 3:30 pm; see the Neuroscience calendar of events).</p>
