<% provide(:title, "Smith Lecture") %>
<h1>Smith Lecture</h1>
<p>The Program co-hosts with Psychology the annual James C. Smith Lecture. Smith Lecturers are distinguished researchers in behavioral neuroscience who are selected by a committee that includes former students of James C. Smith, a longtime professor of psychology at Florida State. Lecturers spend several days on campus, meeting with students and faculty and making a public presentation.</p>
