<% provide(:title, "Ice Cream Social") %>
<h1>Ice Cream Social</h1>
<p>In the first weeks of fall classes, all Neuroscience faculty, graduate students, post docs and lab members are invited to come and enjoy an ice cream buffet to welcome the incoming neuroscience graduate students to our program here at Florida State University.</p>
