<% provide(:title, "GSAC By-Laws") %>

<div class="row">
		<div id="hub_text" class="col-sm-12">

			<h2 class="hub_para">Florida State University Neuroscience Graduate Student Associataion By-laws</h2>

			<h4 class="hub_para">Article I: Membership</h4>
			<p class="hub_para">All graduate student majors in the interdisciplinary Program in Neuroscience, as defined in the constitution, shall be voting members of the Neuroscience Graduate Student Association (NGSA). No student will be denied membership on the basis of sex, race, national origin, marital status, sexual orientation, disability, or age. Graduate and undergraduate students who are not affiliated with the Neuroscience program may participate as non-voting members of NGSA. Termination of membership will occur if a student goes on academic probation for more than one semester or graduates with a terminal degree.</p>

			<h4 class="hub_para">Article II: Graduate Student Advisory Committee (GSAC)</h4>
			<p class="hub_para">GSAC is the elected committee of NGSA responsible for approving policies and expenditures of the organization by majority vote. The GSAC is also responsible for two-way communication between neuroscience graduate students and the Program in Neuroscience.</p>

			<h4 class="hub_para">Article III: GSAC Responsibilities in NGSA</h4>
			<p class="hub_para">
				<ul class="hub_para">
					<li>Graduate Training Committee</li>
					<li>
						<ul>
							<li>One member of GSAC will serve as a representative to the Graduate Training Committee</li>
						</ul>
					</li>
					<li>Providing Course Feedback</li>
					<li>
						<ul>
							<li>Issue surveys to graduates students and compile course evaluations.</li>
							<li>Meeting with director twice a year (1 fall, 1 spring) to discuss student opinions.</li>
						</ul>
					</li>
					<li>Graduate Student Recruitment</li>
					<li>
						<ul>
							<li>Help to plan and implement Graduate Student Recruitment Week</li>
							<li>
								<ul>
									<li>Housing</li>
									<li>Student Activities</li>
									<li>Transportation</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>Supporting community outreach and education</li>
					<li>
						<ul>
							<li>An Outreach and Education Subcommittee will be formed by volunteer graduate students, and chaired by an officer of the GSAC. It is the responsibility of this committee to act as NGSA representatives in reaching out to the community to foster public awareness of the importance of the brain and the benefits of brain research. This committee may request funds from NGSA to support outreach efforts.</li>
						</ul>
					</li>
					<li>Registration of NGSA as an Registered Student Organization (RSO)</li>
					<li>
						<ul>
							<li>In August contact director of RSOs</li>
						</ul>
					</li>
					<li>Managing Funds</li>
					<li>
						<ul>
							<li>Internal (University Funds)</li>
							<li>External (Raised Funds)</li>
							<li>Any standing funds can not be dissolved without a majority vote of graduate students (NGSA) either at a scheduled meeting or by electronic voting.</li>
						</ul>
					</li>
					<li>Representing NGSA to Congress Of Graduate Students (COGS)</li>
					<li>
						<ul>
							<li>At least one representative of GSAC is required to attend the monthly COGS meeting. In the absence of another volunteer, this is the President’s duty.</li>
						</ul>
					</li>
				</ul>
			</p>

			<h4 class="hub_para">Article IV: Meetings and Procedures</h4>
			<p class="hub_para">
				<ul class="hub_para">
					<li>Meetings and Motions</li>
					<li>
						<ul>
							<li>There shall be at least one general meeting for all NGSA members per academic year with the option of more by committee approval. The committee shall schedule meetings, and all members must be notified of a scheduled meeting 5 days prior to the meeting date. All voting members may sponsor a motion or resolution. All major motions and resolutions to be discussed at a meeting shall be distributed to members at least 24 hrs before the meeting convenes. Members shall have the option of voting electronically or by mail. Motions and resolutions shall require a majority vote of those present at the meeting or voting by mail or e-mail ballot for passage. Mail and e-mail votes must be received by the secretary and counted by the elections committee before the end of the meeting at which other members vote in person.</li>
						</ul>
					</li>
					<li>GSAC Meetings</li>
					<li>
						<ul>
							<li>The committee shall schedule meetings and all members of the committee must be notified at least one week prior to the meeting date.</li>
						</ul>
					</li>
					<li>Budget and Expenditures</li>
					<li>
						<ul>
							<li>The annual budget must be approved by a majority vote of present voting members. Funds obtained from all sources shall be maintained in a secure auditable account with all income and expenditures reported annually to the membership and the faculty advisor. The committee chairs may make expenditures as approved by the NGSA.</li>
						</ul>
					</li>
				</ul>
			</p>

			<h4 class="hub_para">Article V: Amendments</h4>
			<p class="hub_para">Amendments to these By-Laws must be approved by a majority-plus-one of the membership voting in person or by mail or e-mail, after due notice. Amendments must be approved by the Director of Student Activities and Organizations.</p>