<% provide(:title, "GSAC Constitution") %>

<div class="row">
	<div id="hub_text">

<h2 class="hub_para">Florida State University Neuroscience Graduate Student Association Constitution</h2>

<h4 class="hub_para">Article I: Name</h4>
<p class="hub_para">The name of this organization is the Neuroscience Graduate Student Association (NGSA).</p>


<h4 class="hub_para">Article II: Purpose</h4>
<p class="hub_para">The NGSA will provide an avenue for academic, professional, and social activities to the graduate students in the interdisciplinary Program in Neuroscience at Florida State University. Our program includes faculty and students across campus from the departments of Biological Science, Mathematics, and Psychology; the College of Medicine; the Institute of Molecular Biophysics; and the National High Magnetic Field Laboratory. The main goals of this organization will be to facilitate academic and professional development of its members, to promote collegiality and social interaction among the students and faculty of the Program in Neuroscience, and to foster public awareness of the importance of the brain and the benefits of brain research through outreach to the local community; for example by participating in Brain Awareness Week and holding the North Florida Brain Bee.</p>

<h4 class="hub_para">Article III: Membership</h4>
<p class="hub_para">
	<ul class="hub_para">
	<li>A. Membership Statement</li>
	<li>All graduate students in the interdisciplinary Program in Neuroscience will be voting members of the NGSA. This includes students enrolled in a departmental degree program with a strong Neuroscience focus and whose major professor is a member of the Program in Neuroscience. This organization agrees to adhere to the university non-discrimination statement: No university student may be denied membership on the basis of race, creed, color, sex, religion, national origin, age, disability, veterans’ or marital status, sexual orientation, gender identity, gender expression, or any other protected group status. No hazing or discrimination will be used as a condition of membership in this organization. Information regarding hazing can be found at http://hazing.fsu.edu. Graduate and undergraduate students who are not affiliated with the Neuroscience program may participate as non-voting members of the NGSA. Seven members of NGSA will be elected to serve as the graduate student advisory committee (GSAC).</li>
	<li>B. Revocation of Membership</li>
	<li>Membership may be revoked without mutual agreement for misconduct or violation of any provisions of the constitution. The member will be notified in writing of the possible revocation at least 72 hours prior to the vote and will be allowed to address the organization in order to relate to members any relevant defense prior to the voting for removal. Membership can only be revoked upon a 2/3 majority vote of eligible members. Revocation of membership will be valid for three (3) semesters.</li>
	<li>C. Appeal Process</li>
	<li>Any student whose membership is revoked will have seven (7) calendar days to appeal the revocation. The appeal must be submitted in writing to the President and Secretary, and must include any relevant information that has not already been presented. The President will then submit the appeal to the Appeals Committee. This committee consists of three (3) executive board members and four (4) general members. This committee will then render a decision at the next general body meeting or in seven (7) calendar days, whichever occurs first.</li>
</p>


<h4>Article IV: Offices</h4>
<p class="hub_para">
	<ul>
		<li>A. Terms of Office</li>
		<li>All terms of office will be for one (1) or two (2) years. The elections for office will be held in April and the term of office will start at the beginning of the fall semester of the same year. Each year the members will vote for at least two (3) newly elected officers for a two-year term. The first year these people will serve as President Elect and Outreach Chair Elect and the subsequent year these people will serve as President and Outreach Chair. These terms will be restricted to a total of two (2) years in office, the first year serving as President Elect and Outreach Chair Elect. During the second year new members will be appointed to President Elect and Outreach Chair Elect. Other officers shall be elected to replace officers whose two year term is ending. Members may run for no more than two (2) consecutive terms of office, even if switching offices, but with no restrictions on the total number of terms served.</li>
		<li>B. Qualification for Office and Nominations</li>
		<li>All voting members are eligible to run for office. The Faculty and/or Staff Advisor must be a member of the Neuroscience Program at Florida State University. All nominations must be submitted to the Secretary at least one (1) week before the elections meeting. All nominees must accept their nominations in writing, via email or formal letter, to the Secretary one (1) week before the elections meeting, or their names will not appear on the ballot.</li>
		<li>C. Elections</li>
		<li>Elections will take place at a meeting scheduled in April. Voting members shall elect up to seven (7) members to serve on the NGSA executive committee, which also acts as the GSAC as defined by the By-Laws article II (and in the Program in Neuroscience By-Laws, Article III Section 1C). All members must be notified by email or other means at least five (5) days before the meeting, and shall have the option of voting electronically or by mail. All electronic and mail votes must be received by the Secretary before the end of the meeting at which other members vote in person.</li>
		<li>D. Officers</li>
		<li>The GSAC/NGSA officers include the President, the Secretary, and the Treasurer. Additional offices may be created as agreed upon by vote during the April election process or during an ad hoc meeting scheduled by the committee. At least one (1) member of GSAC should be a member of an underrepresented minority group. If a minority-group member is not elected, the Program in Neuroscience Director has the authority to appoint an additional member. Any student member may propose a change in office or other issue for NGSA member vote. All proposals for changes in offices, including those proposed for an ad-hoc meeting, must be distributed to all members of the NGSA at least five (5) days prior to a scheduled meeting.</li>
		<ul>
			<li>1. President</li>
			<li>The President shall be responsible for chairing NGSA and GSAC meetings, seminars, workshops, etc. The President is responsible for registering NGSA as an FSU organization, approving budget requests, and training the President Elect. The President will act as the official, though not the only, liaison to the faculty and/or staff advisor as well as Florida State’s Student Government Organization and the Congress of Graduate Students.</li>
			<li>2. President Elect</li>
			<li>Upon election of GSAC members, one member will be elected to the position of President Elect. This position is designed to ensure that at least one (1) member of GSAC will fulfill a two-year term and is considered the first year of a two year presidency. The President Elect will shadow the current President to learn the requirements and duties of that position and represent the President in his or her absence.</li>
			<li>3. Secretary</li>
			<li>The Secretary will record the minutes of the meetings, prepare and distribute agendas, ballots and information for planned NGSA and GSAC meetings, seminars, workshops, etc. The Secretary is also responsible for the files of the NGSA and GSAC, and for keeping a current list of the NGSA and GSAC memberships. The Secretary is responsible for receiving completed ballots during elections and, with the GSAC members who are not officers, for counting votes. The Secretary shall act as the GSAC liaison to the Society for Neuroscience Secretary and Advisor when necessary.</li>
			<li>4. Treasurer</li>
			<li>The Treasurer shall keep accounts, prepare the annual budget, deposit the association’s funds, and make expenditures as approved by the NGSA and GSAC. The Treasurer shall act as Secretary in the absence of the Secretary.</li>
			<li>5. Outreach Chair</li>
			<li>The Outreach Chair shall oversee the affairs of the outreach and education committee as outlined in Article III of the By-Laws. Along with the Secretary and Recruitment Chair, the Outreach Chair is a part of the elections committee and shall be charged with counting votes during elections or when the membership votes on changes in the Constitution or By-Laws.</li>
			<li>6. Outreach Chair Elect</li>
			<li>Upon election of GSAC members, one member will be elected to the position of Outreach Chair Elect.  This position is designed to ensure that at least one (1) member of GSAC will fulfill a two-year term and is considered the first year of a two year outreach chair position.  The Outreach Chair Elect will shadow the current Outreach Chair to learn the requirements and duties of that position and represent the Outreach Chair in his or her absence.</li>
			<li>7. Recruitment Chair</li>
			<li>The Recruitment Chair shall assist in organizing the Neuroscience Graduate Student Recruitment Week as outlined in Article III of the By-Laws. Along with the Secretary and Outreach Chair, the Recruitment Chair is a part of the elections committee and shall be charged with counting votes during elections or when the membership votes on changes in the Constitution or By-Laws.</li>
		</ul>
		<li>E. Officer Vacancies</li>
		<ul>
			<li>1. Removal of Officers</li>
			<li>Any officer may be removed from office upon a 2/3 majority vote of eligible members. The officer will be notified in writing of the possible termination or removal at least 72 hours prior to the vote and will be allowed to address the organization in order to relate to members any relevant defense prior to the voting for removal.</li>
			<li>2. Resignation</li>
			<li>Officers no longer wishing to serve on the executive board must submit their resignation to the President at least two (2) weeks in advance. Prior to the officer’s final day he/she shall provide all documents relating to the organization and brief his/her replacement of current projects in his/her care.</li>
			<li>3. Filling Vacant Officer Positions</li>
			<li>In the event an officer is removed or resigns, the nomination process will take place as stated in Article IV Section B as soon as possible. The election process will take place as stated in Article IV Section C at a special meeting timed to comply with Article IV Sections B, C, and E. The newly elected replacement officer's term will end at the beginning of the following fall term if the replacement occurs before the April elections for new officers. This replacement officer is eligible to stand for election to a full term in the elections following the replacement. If the replacement occurs between April and the beginning of the Fall term, the officer elected for the Fall term during the April election will start his/her office early to fill the vacancy.</li>
		</ul>
	</ul>

</p>


<h4>Article V: Advisor</h4>
<p class="hub_para">
	<ul>
		<li>A. Nomination and Role</li>
		<li>The Advisor shall be selected by the officers of this organization and must be approved by a simple majority vote of eligible members. The Advisor shall serve as a mentor to the organization providing guidance to the officers and members. The Advisor has no voting rights. The Advisor’s position has no term limit other than he/she must be a current FSU faculty or staff member.</li>
		<li>B. Removal and Replacement of Advisor</li>
		<li>The Advisor will be notified in writing of the possible removal at least 72 hours prior to the vote and will be allowed to address the organization in order to relate to members any relevant defense prior to the voting for removal. Upon a 2/3 majority vote of eligible members the advisor will be remove from his/her duties. In the event that the Advisor is removed or resigns, a new advisor shall be elected within 14 calendar days.</li>
	</ul>
</p>


<h4>Article VI: Finances</h4>
<p class="hub_para">
	<ul>
		<li>A. Membership Dues</li>
		<li>There are no membership dues. No university student may be denied membership due to inability to pay dues. If a member is not able to pay dues, other arrangements will be made.</li>
	</ul>
</p>


<h4>Article VII: Publications</h4>
<p class="hub_para">
	<ul>
		<li>A. Compliance</li>
		<li>All advertisements of the organization must comply with the University Posting Policy</li>
		<li>B. Approval</li>
		<li>The Secretary and President must approve all publications, shirts, flyers, etc. prior to duplication and distribution.</li>
	</ul>
</p>


<h4>Article VIII: Amendments</h4>
<p class="hub_para">
	<ul>
		<li>A. Amendments to this constitution must be approved by a majority-plus-one of the membership voting in person or by mail or email, after due notice.</li>
		<li>B. Amendments must be approved by the Director of Student Activities and Organizations.</li>
	</ul>
</p>


<h4>History of the Constitution</h4>
<p class="hub_para">
	<ul>
		<li>* Revised 29th day of April in the year 2015</li>
		<li>* Revised: 9th day of September in the year 2013</li>
		<li>* Revised: 11th day of April in the year 2012</li>
		<li>* Revised: 7th day of November in the year 2011</li>
		<li>* Revised: 26th day of January in the year 2011</li>
		<li>* Revised: 17th day of January in the year 2011</li>
		<li>* Revised: 19th day of November in the year 2010</li>
	</ul>
</p>

<p class="hub_para">Constitutional Amendment B.Carroll_4.23.15</p>


</div>
</div>

