<% provide(:title, "GSAC") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">

		<h1 class="hub_para">Graduate Student Advisory Committee (GSAC)</h1>

		<p class="hub_para">GSAC is the elected committee of NGSA consisting of six members: president, president-elect, treasurer, secretary, outreach chair, and recruitment chair. This committee is responsible for approving policies and expenditures of the organization, providing a means for two-way communication between Neuroscience Graduate Student Association members and the Program in Neuroscience, supporting Neuroscience community outreach, and organization of housing, transportation and student activities during Graduate Recruitment Weekend. </p>

	</div>
</div>
