<% provide(:title, "NGSA") %>


<div class="row">
		<div id="hub_text" class="col-sm-12">
		<h1 class="hub_para">Neuroscience Graduate Student Association</h1>
		<p class="hub_para">
			The NGSA provides an avenue for academic, professional, and social activities to the graduate students of the interdisciplinary Program in Neuroscience at Florida State University. Our program includes faculty and students across campus from the departments of Biological Science, Psychology, Biomedical Sciences in the College of Medicine, Institute of Molecular Biophysics, National High Magnetic Field Laboratory, and Mathematics. The main goals of this organization are to facilitate academic and professional development of its members, and to promote collegiality and social interaction among the students and the faculty of the Program in Neuroscience, and to foster public awareness of the importance of the brain and the benefits of brain research through outreach to the local community.
		</p>
		<p class="hub_para">The current faculty advisor to the NGSA is Dr. Michael Meredith. [link to his directory entry]</p>
	</div>

	<div id="hub_left" class="col-sm-6 clearfix">
		<ul>
			<li><%= link_to 'GSAC', '/students_pages/gsac', :class => 'gsac_link' %></li>
			<li><%= link_to 'By-Laws', '/students_pages/bylaws', :class => 'bylaw_link' %></li>
			<li><%= link_to 'Constitution', '/students_pages/constitution', :class => 'const_link' %></li>
		</ul>
	</div>
	
</div>