<% provide(:title, "Resources") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">

		<h1 class="hub_para">Graduate Student Resources</h1>

		<p class="hub_para"> </p>

		Graduate Student Handbook (pdf) [link to: http://www.neuro.fsu.edu/gradhandbook.pdf]



Incoming and Outgoing Checklists [link to: http://www.bio.fsu.edu/resourceguide/checklists.htm]

There are a variety of practical and administrative things you need to do when you first arrive here at FSU, and again when you leave the program and the university. The Biological Sciences Department has created a helpful checklist with information about who to contact for help with these items.  If you are in one of our other affiliated departments, please check with their main office for help with department-specific items. 



FSU Congress of Graduate Students (COGS) [link to: http://sga.fsu.edu/cogs.shtml]

The Congress of Graduate Students (COGS) is the official representative body of graduate students at Florida State University. This includes all post-baccalaureate, special, masters, specialist, professional, and doctoral students.



Society for Neuroscience Travel Awards [link http://www.sfn.org/awards-and-funding/individual-prizes-and-fellowships/travel-awards]



COGS grants for conference attendance [link http://sga.fsu.edu/cogs-attendance.shtml]

Fellowships for students in the Biological Sciences Department [link http://www.bio.fsu.edu/gradstudentinfo/departmentalfellowships.php]



Funding and awards through the FSU Graduate School [link http://www.gradstudies.fsu.edu/Funding-Awards]





The National Institutes of Health National Research Service Award (NRSA) [link http://grants.nih.gov/training/nrsa.htm]



The National Science Foundation Graduate Research Fellowship Program [link http://www.nsf.gov/funding/pgm_summ.jsp?pims_id=6201]

	</div>
</div>
