<h1>Department of Biological Sciences Cores</h1>
<p>Find me in app/views/resource_pages/cores.html.erb</p>


Analytical Facilities
Services include various HPLC analyses.  There is also preparative equipment and gel quantification equipment.
http://www.bio.fsu.edu/analytical.php

DNA sequencing Facility
The facility offers sequencing services onApplied Biosystems 3730 Genetic Analyzer and Next-generation sequencing with Illumina MiSeq.
http://www.bio.fsu.edu/dna_sequencing.php

Hybridoma Core Facility
This facility offers expertise and assistance in monoclonal antibody production.
http://www.bio.fsu.edu/hybridoma.php

Molecular Cloning Facility
This facility provides assistance in the design and implementation of molecular biology techniques
http://www.bio.fsu.edu/mol_cloning.php

Institute of Molecular Biophysics
Protein Expression Facility
This core facilitates the large scale expression of recombinant progestin in eukaryotic cells.  They have a WAVE bioreactor and a BelloCell bioreactor.

http://biophysics.fsu.edu/facilities/protein-expression-facility/

College of Medicine
Translational Science Core
This core houses several instruments for proteomic and nucleic acid analyses:
LTQ
MALDI-TOF
Off-Gel Fractionator
BioAnalyzer
Synapt G2 HDMS
Orbitrap
Xevo TQS
Illumina HiSeq 2500

http://med.fsu.edu/?page=translationalLab.home

Department of Psychology Cores

Histology/Molecular Laboratories

The major equipment that this Core houses includes:
Cryostat
Microtome
Vibratome
Ultra-microtome
Nanodrop
Biorad thermal cycler
Scintillation counter
Gamma counter
Fluorescence and Stereo investigator equipped microscope
Lase Capture Microdissection
X-ray film processor.

https://psy.fsu.edu/facilities/labs.htm

Electronic Shop
Will help produce specialized equipment for experiments
https://psy.fsu.edu/facilities/elec.shop.htm#elec

Instrument/Machine Shop
Will assist in the fabrication of equipment
https://psy.fsu.edu/facilities/instrument.shop.htm#inst

Graphics Office
Will provide assistance in the prepration of illustrations and printed materials
https://psy.fsu.edu/facilities/graphics_ofc.htm#graphics



Center for Genomics and Personalized Medicine
Will provide assistance in genomic-scale data analyses, experimental design and implementation.
http://genomics.fsu.edu/

Shared Equipment:

This is our current page where it is all listed.  

http://www.neuro.fsu.edu/equipment/
