<% provide(:title, "Helpful Links") %>
<h1>ResourcePages#links</h1>



<!--
	<h2><span id="depts">Affiliated Departments and Programs</span></h2>

<p><a href="http://bio.fsu.edu">Department of Biological Science</a><br/>
<a href="http://www.med.fsu.edu/?page=biomedicalSciences.home">Department of Biomedical Sciences, FSUCollege of Medicine</a> <br/>
<a href="http://math.fsu.edu">Department of Mathematics</a><br/>
<a href="http://psy.fsu.edu">Department of Psychology</a></p>

<p><a href="http://med.fsu.edu/?page=brainRepair.home">Center for Brain Repair</a><br/>
<a href="http://neuro.fsu.edu/chemicalsenses">Chemical Senses Training Grant</a></p>

-->
