<div class="home_show clearfix">
	<div class="carosel"><%= image_tag('carosel1.jpg') %></div>
	<div class="gradapp"><%= image_tag('grad_app.jpg') %></div>
	<div class="outreach"><%= image_tag('outreach.jpg') %></div>
</div>