<% provide(:title, "General Requirements") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h1>General Requirements for Admission</h1>

		<p>View the <%= link_to "FSU Graduate School requirements", 'http://admissions.fsu.edu/graduate/admissions/requirements.cfm' %>.<p>
		<p>Admission to the Program in Neuroscience is based on a combination of factors including:</p>
		<p>
			<ol>
				<li>Undergraduate and graduate GPA. The minimum GPA required for the Program in Neuroscience is 3.0. The average upper division GPA of those admitted to the program is 3.7</li>
				<li>Graduate Record Examination scores. While GRE scores are considered in the overall application, there is no strict minimum. The average GRE scores of those recently invited for interviews, however, have been above 70th percentile on both the verbal and quantitative sections of the exam.</li>
				<li>Strong letters of recommendation.</li>
				<li>Prior life sciences research experience. Most students have 1 to 2 years of research experience before entering our graduate program.</li>
				<li>The applicant's personal statement.</li>
				<li>A good match between the prospective student and Program in Neuroscience faculty interests.  It is important that applicants carefully consider those faculty of interest with whom they would like to work prior to completing the application. Applicants should list those faculty whose research best fits with their own interests and experiences.</li>
			</ol>	
		</p>

	</div>

	
</div>