<h1>ProspectPages#curriculum</h1>
<p>Find me in app/views/prospect_pages/curriculum.html.erb</p>


Details on the Program in Neuroscience Curriculum may be found in the Graduate Student Handbook.[LINK]

Students entering our program immediately begin working on research in the laboratory of their chosen major professor.  First and second-year students take a series of required courses, and then there are a number of electives from which students may choose to complete their individual programs of study.

Required Courses

PCB 5845: Cell and Molecular Neuroscience

PSB 5341: Systems and Behavioral Neuroscience

PSB 5230C: Comparative Neuroanatomy with Laboratory

PSB 5057: Neuroscience Methods (aka Molecules to Behavior)

PSB 5077: Responsible Conduct of Research

PSY 6919: Research Design and Analysis (or equivalent)

Directed Individual Study: Two laboratory rotations, in addition to major professor’s laboratory, are required

Core Electives
Must take at least 1 from cluster A and B

A. Physiology Cluster

BSC 5936: Membrane Biophysics

PCB 5795: Sensory Physiology

PCB 5137: Advanced Cell Biology

PCB 5747: Mammalian Physiology II 

FAMU College of Pharmacy: Neuropharmacology

B. Behavioral Cluster

PSB 5406: Neurobiology of Learning and Memory

PSB 6059: Behavioral Endocrinology

PSB 5347: Psycho-Neuropharmacology 

EXP 5717 Animal Psychophysics

Additional electives and seminars 
Other course are offered each year, but do not satisfy these core cluster requirements.  Examples include:
Molecular Biology
Advanced Molecular Biology
Immunology
Computational Methods in Biology
Seminar in Physiology
Seminar in Physiological Psychology
Seminar in Sensory Processes
Seminar in Genetics and Cell Biology


 
