<% provide(:title, "Curriculum") %>

<div class="hub_wrap">
	<div id="hub_text">

		<h1>Curriculum</h1>
		<p>Details on the Program in Neuroscience Curriculum may be found in the <%= link_to "Graduate Student Handbook", '/gradhandbook.pdf' %>.</p>

		<p>Students entering our program immediately begin working on research in the laboratory of their chosen major professor.  First and second-year students take a series of required courses, and then there are a number of electives from which students may choose to complete their individual programs of study.</p>

		<h3>Required Courses</h3>

		<p>PCB 5845: Cell and Molecular Neuroscience</p>

		<p>PSB 5341: Systems and Behavioral Neuroscience</p>

		<p>PSB 5230C: Comparative Neuroanatomy with Laboratory</p>

		<p>PSB 5057: Neuroscience Methods (aka Molecules to Behavior)</p>

		<p>PSB 5077: Responsible Conduct of Research</p>

		<p>PSY 6919: Research Design and Analysis (or equivalent)</p>

		<p>Directed Individual Study: Two laboratory rotations, in addition to major professor’s laboratory, are required.</p>

		<h3>Core Electives</h3>
		<p>Must take at least 1 from cluster A and B</p>

		<h4>A. Physiology Cluster</h4>

		<p>BSC 5936: Membrane Biophysics</p>

		<p>PCB 5795: Sensory Physiology</p>

		<p>PCB 5137: Advanced Cell Biology</p>

		<p>PCB 5747: Mammalian Physiology II</p>

		<p>FAMU College of Pharmacy: Neuropharmacology</p>

		<h4>B. Behavioral Cluster</h4>

		<p>PSB 5406: Neurobiology of Learning and Memory</p>

		<p>PSB 6059: Behavioral Endocrinology</p>

		<p>PSB 5347: Psycho-Neuropharmacology</p>

		<p>EXP 5717 Animal Psychophysics</p>

		<h4>Additional electives and seminars</h4> 

		<p>Other course are offered each year, but do not satisfy these core cluster requirements.  Examples include:
			<ul>
				<li>Molecular Biology</li>
				<li>Advanced Molecular Biology</li>
				<li>Immunology</li>
				<li>Computational Methods in Biology</li>
				<li>Seminar in Physiology</li>
				<li>Seminar in Physiological Psychology</li>
				<li>Seminar in Sensory Processes</li>
				<li>Seminar in Genetics and Cell Biology</li>
			</ul>
		</p>

</div>
</div>


 
