<h1></h1>
<p></p>

Does my undergraduate degree have to be in a specific area to qualify for the Neuroscience program?  

What courses should I take to prepare for applying to the Neuroscience program?  

Do you offer a Master’s Degree in Neuroscience?  

What score on the GRE would make my application competitive? 

Where should I send my official transcripts?  

What is the average GPA of applicants admitted to the program?  

Do international applicants have to provide TOEFL scores if they received a degree from an English-speaking university?



Does my undergraduate degree have to be in a specific area to qualify for the Neuroscience program?  
No, we do not require a particular undergraduate degree, but applicants should have strong foundational science coursework.  Most of our successful applicants were neuroscience, biology, or psychology majors.

What courses should I take to prepare for applying to the Neuroscience program?  
While there are no specific course requirements, a successful applicant will have taken and done well in a variety of hard science courses, including biology and chemistry with laboratories. Our core graduate coursework assumes some background in physiology.

Do you offer a Master’s Degree in Neuroscience?  
No, this is a Ph.D. program. Some of our students opt to get a Master’s Degree along the way, from their home department (e.g., Biological Sciences, Psychology), but it is assumed that if you are accepted into our program, your goal is the Ph.D. in Neuroscience.

What score on the GRE would make my application competitive? 
Most applicants who are offered admission to our program will score above the 70th percentile on both the Quantitative and Analytical portions of the GRE.

Where should I send my official transcripts?  
An applicant should have all institutions attended send official transcripts to the university admissions office:

Florida State University
Office of Admissions
A2500 University Center
Tallahassee, FL 32306-2400

What is the average GPA of applicants admitted to the program?  
The average upper division GPA of applicants admitted to our program is above 3.5

Can the application fee be waived?  
The program cannot waive the fee. However, if the applicant is a McKnight or McNair Scholar, the university admissions office may waive the fee. Contact the Office of Graduate Admissions [LINK “Office of Graduate Admissions” to http://admissions.fsu.edu/graduate/admissions/apply.cfm] to inquire about this.

Do international applicants have to provide TOEFL scores if they received a degree from an English-speaking university?
No, applicants are not required to provide a TOEFL score if they have been awarded a Bachelors or Master’s Degree by an American or English speaking institution.








