<h1>Sources of Financial Support </h1>
<p>There are servaral potential sources of financial aid for graduate students. Students who request financial aid in their application are automatically considered for each source for which they are qualified. Students receiving aid from these sources are eligible for waiver of tuition.</p>


 

1.	FSU Neuroscience Fellowships, renewable for up to 2 years, are merit-based fellowships available to students working with the Neuroscience Program faculty. All students accepted to the program are considered for these fellowships. Typically, 2 are awarded each year.

2.	Outstanding students interested in the study of chemical senses (olfaction and taste) are eligible for support in the NIH-funded Chemosensory Training Program which provides full tuition and a stipend. 

3.	More advanced students interested in translational research on dysregulated behaviors are eligible for support by the NIH grant “Interdisciplinary Clinical Neuroscience Training for Translational Research,” which requires a cross-area research project in which neuroscience students collaborate with clinical psychologists.  Applications for this training program are considered annually. 

4.	FSU University Fellowships are available for outstanding students on a competitive basis. The minimum requirements for consideration are a 3.5 grade point average on all college level work and a score of 1250 on the Graduate Record Examination (scores for the verbal and quantitative sections combined). Names to be submitted for consideration are selected by the departments. For a list of Financial Aid possibilities published by the University see: Graduate Studies' Funding & Rewards guide. [http://www.gradstudies.fsu.edu/Funding-Awards]


5.	Most students are supported for at least part of their time in graduate school by Teaching Assistantships, which are administered by the departments. Students awarded teaching assistantships spend up to 16 hours per week on teaching or related duties. This teaching usually goes towards satisfying the program teaching requirement. 

6.	Research Assistantships are available from funds provided by the grants of individual faculty members. These assistantships provide a stipend in return for work on a research project of a particular faculty member. They are arranged by agreement with the faculty member concerned. 

<h2>Financial Aid for students from under-represented groups</h2>

The Program in Neuroscience strongly encourages applications from qualified candidates who are members of under represented groups. Several funding sources and special programs at FSU are available to provide financial assistance. Current information on financial aid for all students, regardless of race and ethnicity, is available from the Office of the Dean of Graduate Studies and the Office of Financial Aid. 

Office of the Dean of Graduate Studies
408 Westcott Building
Florida State University
Tallahassee, FL 32306-1410
(850)644/3500

Office of Financial Aid
Room 4473, University center
Florida State University
Tallahassee, FL 32306-2430
(850)644/5716

[Links appear to be correct]