<h1>Prospective Students</h1>
<p>The Program in Neuroscience is an interdisciplinary research and graduate training program offering a Ph.D in Neuroscience.  Graduate students take courses in neuroscience and work closely with their major professors to develop research projects leading to their dissertations.</p>
<p>Detailed information about how students progress through our program can be found in the Graduate Student Handbook (pdf). [the words “Graduate Student Handbook should link to the file]</p>

General Requirements for Admission to the Program in Neuroscience [Link to text below on the same page]

How to apply to the Program in Neuroscience [Link to text below on the same page]

Financial Support and Aid [Link to a separate financial aid page]

The Program Curriculum [link to separate curriculum page]

Frequently Asked Questions [Link to separate FAQ page]

