<% provide(:title, "Focus Interests") %>

<h1>Focus Interests</h1>
<p>
	Brain Repair
	Circadian Rhythm
	Chemical Senses
	Development and Neural Plasticity
	Ingestive Behavior and Obesity
	Learning and Memory 
	Motivated Behavior
	Sensation and Perception
	Social Neuroscience

</p>
