<% provide(:title, "History") %>
<h1>History</h1>
<p>The Neuroscience Program at Florida State University had its beginnings in the mid-1960s as a spontaneous assembly of biologists and psychologists sharing common interests in sensory processes. Over subsequent years this group grew steadily in size and diversity of research interests, and the training program became more formalized. Development of the program, initially called Psychobiology, was accelerated by Research Center and Training Grants awarded by the National Institutes of Health and by a Science Development Grant from the National Science Foundation. In 1991, the Florida Board of Regents approved a new Ph.D. Degree in Neuroscience at Florida State University, and the first degree was granted in that year.</p>
<p>[additional info on expansion of program, establishment of medical school.]</p>
