<footer class="footer">
  <small>
    The <a href="http://www.fsu.edu/">Florida State University</a> <%= link_to "Neuroscience Program", '/' %>
    ©copyright 2015.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://webmail.neuro.fsu.edu">Webmail</a></li>
      <li><%= link_to "Calendar",   'https://psy.fsu.edu/calendar/index.pl?Op=ShowIt&CalendarName=BRF_conference_room' %></li>
    </ul>
  </nav>
</footer>